# URL de l'API NestJS
VITE_API_URL=http://localhost:3000

# Endpoint WebSocket Socket.IO
VITE_WS_URL=http://localhost:3000

# Mocks MSW pour développer sans backend (true / false)
VITE_USE_MOCKS=true
